<?xml version="1.0"?>
<config>
    <modules>
        <Product_Filter>
            <version>0.1.0</version>
        </Product_Filter>
    </modules>
    <global>
        <models>
            <filter>
                <class>Product_Filter_Model</class>
                <resourceModel>product_filter_resource</resourceModel>
            </filter>
            <product_filter_resource>
                <class>Product_Filter_Model_Resource</class>
                <entities>
                    <review_summary>
                        <table>review_entity_summary</table>
                    </review_summary>
                </entities>
            </product_filter_resource>
        </models>
        <blocks>
            <filter>
                <class>Product_Filter_Block</class>
            </filter>
            <catalog>
                <rewrite>
                    <layer_view>Product_Filter_Block_Layer_View</layer_view>
                </rewrite>
            </catalog>
        </blocks>
        <resources>
            <filter_setup>
                <setup>
                    <module>Product_Filter</module>
                </setup>
            </filter_setup>
        </resources>
    </global>
</config>
